<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <% include ./partials/_header.ejs %>
    </header>
    <div class = "container">
<!--       <ul class="list-group">
        <li class="list-group-item"><b>Full URL: </b> <%= longURL %> </li>
        <li class="list-group-item"><b>Shortened URL: </b><%= shortURL %></li>
      </ul> -->

      <h2><b>Short URL: </b><%= shortURL %> </h2>
      <h6>
        <form action= <%="/urls/" + shortURL %> method="POST">
          <!-- <label for="longURL">Long URL: </label> -->
          <input id="longURL" type="text" name="longURL" class="form-control" placeholder= <%= longURL %> >
          <input type="submit" value="Update" class="btn btn-primary">
        </form>
      </h6>

    </div>

  </body>
</html>